body {
margin: 0px;
padding: 0px;
}

#linkBar {
position: absolute;
width: calc(100% - 30px);
height: 30px;
text-align: left;
margin: 0px;
padding: 0px;
overflow-y: hidden;
overflow-x: auto;
}

#linkBar.fullwidth {
	width: 100% !important;
}

#linkBar img {
	--filter: grayscale(100%) contrast(50%) brightness(150%)  drop-shadow(1px 1px 1px silver);
}

#linkBar img:after {
	content: "hi";
}

#linkBar hr {
display: inline-block;
width: 1px;
height: 30px;
border: solid 0px black;
background-color: RGBA(0, 0, 0, 0.15);
margin-left: 3px;
margin-right: 3px;
margin-top: 0px;
margin-bottom: 0px;
}

#linkBar.small img {
	padding-left: 3px;
	padding-right: 3px;	
	width: 12px;
	height: 12px;
	padding-top: 9px;
	padding-bottom: 9px;

}

#linkBar.normal img {
	padding-left: 5px;
	padding-right: 5px;	
	width: 16px;
	height: 16px;
	padding-top: 7px;
	padding-bottom: 7px;

}

#linkBar.large img {
	padding-left: 7px;
	padding-right: 7px;	
	width: 24px;
	height: 24px;
	padding-top: 3px;
	padding-bottom: 3px;

}

#linkBar.small img.hover {
	padding-left: 4px;
	padding-right: 2px;	
	padding-top: 10px;
	padding-bottom: 8px;

}

#linkBar.normal img.hover {
	padding-left: 6px;
	padding-right: 4px;	
	padding-top: 8px;
	padding-bottom: 6px;

}

#linkBar.large img.hover {
	padding-left: 8px;
	padding-right: 6px;	
	padding-top: 4px;
	padding-bottom: 2px;

}


#linkBar.center {
	text-align: center !important;
}

img.drag {
	border-left: solid 1px gray;
}

::-webkit-scrollbar {display:none;}


#dropdown {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 0px;
	height: 0px;
	font-size: 12pt;
}

#settings {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 8px;
	color: gray;
}