.container {
	max-width:1000px
}

.jumbotron {
	padding: 30px;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: 30px;
	padding-right: 30px
}

.jumbotron h2 {
	margin: 0;
}

.xfavicon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.editLink {
	margin-left: 10px;
}