<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>https://www.apple.com; http://www.nytimes.com; https://www.wikipedia.org; https://www.reddit.com/r/all; https://sidefield.com;</string>
		<key>Key</key>
		<string>links</string>
		<key>Title</key>
		<string>Links</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>normal</string>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>iconSize</string>
		<key>Title</key>
		<string>Icon Size</string>
		<key>Titles</key>
		<array>
			<string>Small</string>
			<string>Normal</string>
			<string>Large</string>
		</array>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>small</string>
			<string>normal</string>
			<string>large</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>0</string>
		<key>FalseValue</key>
		<string>0</string>
		<key>Key</key>
		<string>centerBar</string>
		<key>Title</key>
		<string>Centre the bar                                                 </string>
		<key>TrueValue</key>
		<string>center</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>0</string>
		<key>FalseValue</key>
		<string>0</string>
		<key>Key</key>
		<string>settingsIcon</string>
		<key>Title</key>
		<string>Hide settings icon on the bar                         </string>
		<key>TrueValue</key>
		<string>fullwidth</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>0</string>
		<key>FalseValue</key>
		<string></string>
		<key>Key</key>
		<string>settingsCheckbox</string>
		<key>Title</key>
		<string>Click this checkbox to access more settings</string>
		<key>TrueValue</key>
		<string></string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
