<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>https://www.apple.com; http://www.nytimes.com; https://www.wikipedia.org; https://www.reddit.com/r/all; https://sidefield.com;</string>
		<key>Key</key>
		<string>links</string>
		<key>Title</key>
		<string>Links</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>centerBar</string>
		<key>Title</key>
		<string>Centre the bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>FalseValue</key>
		<string></string>
		<key>Key</key>
		<string>settingsCheckbox</string>
		<key>Title</key>
		<string>Click this checkbox to access the settings</string>
		<key>TrueValue</key>
		<string></string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
